{% extends 'Layout/layout.twig' %}  

{% block title %} 
{{ post.title }}
{% endblock %}

{% block body %} 
{% include 'Post/post.twig' %}
{% include 'Comment/commenter.twig' %}
{% if _session['message']%}
    <p>{{ _session['message'] }}</p>
{% endif %}
{% include 'Comment/commentaires.twig' %}     
{% endblock %}