<div class="container">
  <h2> EDITER CE POST</h2>
{%if post%}

  <form method="post" action="?cible=post&id={{post.id}}&action=update">

    <div class="md-form">
      <input type="text" id="form1" class="form-control" value="{{post.author}}" name="author" required>
      <label for="form1"></label>
    </div>

    <div class="md-form">
      <input type="text" id="form1" class="form-control" value="{{post.titre}}" name="titre" required>
      <label for="form1"></label>
    </div>

    <textarea id="post" name="post">{{post.post}}</textarea>
    <input class="btn btn-primary btn-block" type="submit" value="modifier ce chapitre"/>   

  </form>

{%else %}
<div class="container">
  <h2> EDITER CE POST</h2>
  <form method="post" action="?cible=creation">

    <div class="md-form">
      <input type="text" id="form1" class="form-control" placeholder="nom de l'auteur" name="author" required>
      <label for="form1"></label>
    </div>

    <div class="md-form">
      <input type="text" id="form1" class="form-control" placeholder="titre du chapitre" name="titre" required>
      <label for="form1"></label>
    </div>

    <textarea id="post" name="post"></textarea>
    <input class="btn btn-primary btn-block" type="submit" value="ajouter ce chapitre"/>   

  </form>
  {%endif%}

</div>


<script type="text/javascript" src="vendor/tinymce/tinymce/tinymce.min.js"></script>

<script>
tinymce.init({
  selector: 'textarea#post',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor textcolor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tiny.cloud/css/codepen.min.css'
  ]
});
</script>

