{%extends 'layout.twig'%}
    
{%block body%}

{%include 'menu.twig'%}
<form method="post" action="http://localhost/tests/p4/index.php?cible=connexion">
        
        <p><label for="login">Pseudo: </label><input type="text" name="login"/></p>
        <p><label for="login">Mot de Passe: </label><input type="password" name="password"/></p>
        <p><input class="btn btn-primary" type="submit" value="se connecter"/></p>

    </form>

{%endblock%}