{% extends 'layout.twig' %}

{%block title%} 

Whoops...

{% endblock %}

{% block entete %}



{% endblock %}

{% block content %}

<h1>On dirait que la page que vous demandez n'existe pas ! </h1>
<p>retour à <a href="../../tests/p4/index.php?home">l'accueil</a></p>

{% endblock %}