               <!-- footer --> 
             <footer class="page-footer row">
                <div class="container text-center text-md-left">
                  <div class="row">
                      
                    <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>
                        <address>
                          <strong>Jean Forteroche, Ecrivain</strong><br>
                          <a target="blank" href="https://goo.gl/maps/cNVASfrWviG2">795 Folsom Ave, Suite 600<br>
                              San Francisco, CA 94107<br></a>
                            Téléphone: <a href="tel:0322222222">03 22 22 22 22</a>
                        </address>

                        <address>
                          <strong>Mail</strong><br>
                          <a href="mailto:">forteroche.jean@gmail.com</a>
                        </address>
                    </div>


                    <div class="col-md-3 mx-auto">
                      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Me suivre</h5>
                    <!--  <ul class="list-unstyled">
                        <li>
                          <a target="blank" href="https://twitter.com/"><i class="fab fa-twitter-square fa-3x"></i></a>
                        </li>
                        <li>
                          <a target="blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a>
                        </li>
                        <li>
                          <a target="blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-3x"></i></a>
                        </li>
                      </ul> -->
                    </div>

                  </div>
                    
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                  <a target="blank" href="http://www.phebidiasaudrey.fr"> Phebidias Audrey</a>
                </div>
                </div>
                


              </footer>
            <!-- end footer -->