<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <title> {%block title%} {%endblock%}</title>
    </head>
    
    <body>
        
        {% block entete %}
        <h1>Blog de l'écrivain</h1>
        <p>La bannière ici</p>
        <button type="button" class="btn btn-primary">Primary</button>
        
        

        
        {% endblock %}
        {%block content%} {%endblock%}
        
        <footer>
            <p>Copyright @Jean Jean. Voir les mentions légales</p>
        </footer>
        
        <script src="../../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script> 
    </body>
</html>