
<!-- menu -->
<div class="row menu">
    <div class="navbar">
        <ul class="nav navbar-nav row">   
            {% if logged %} 
                    
            <li class="col-md-2"><a target="blank" href="http://localhost/tests/p4/index.php?cible=bo">tableau de bord</a></li>
                           
            {%else %}
                    
            <li class="col-md-2"><a target="blank" href="http://localhost/tests/p4/index.php?cible=connexion">Se connecter</a></li>
                    
            {%endif %}
                    
            
            {%if accueil%}
            <li class="col-md-2"><a target="blank" href="http://localhost/tests/p4/index.php?cible=liste">Lire le roman</a></li>
            
            {% else %}
            
            <li class="col-md-2"><a target="blank" href="http://localhost/tests/p4/index.php">Accueil</a></li>
            
            {% endif %}
        </ul>
    </div>
</div> 
<!-- end block menu-->
