            <!-- menu -->
            <div class="row menu">
                <div class="navbar navbar-inverse">
                <ul class="nav navbar-nav row">
                    <li class="col-md-2"><a target="blank" href="#">Se connecter</a></li>
                    <li class="col-md-2"><a target="blank" href="http://localhost/tests/p4/index.php?cible=liste">Lire le roman</a></li>
                </ul>
                </div>
            </div> 
            <!-- end block menu-->
