<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/style.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> </title>
    </head>
    
    <body>
        
        <!-- à tej dans le style.css -->
            <style>
          body   {
                background-color:#C8D0DB;
              font-family: 'Roboto', Arial;
                }

        .hero-image {

          background-image: url("src/View/om-malik-482054-unsplash");
          height: 95vh;
          background-position: center;
          background-size: cover;
          position: relative;
        }
                
                .hero-text {
                    position:absolute;
                    top:30vh;
                    left:20vh;
                    
                }
                
                .menu {
                    height:5vh;
                }
            
                .quote {
                    background-color: rgb(41,49,62,0.9);
                    
                }
                
                .nav {
                    display:flex;
                    flex-direction:row;
                    justify-content:flex-end;
                }

                .navbar, .nav {
                    width:100%;
                }
                
                .derniers {
                    padding-top:50px;
                    padding-bottom:50px;
                    
                      background-image: linear-gradient(to bottom, #c9d1dc, #bbcadb, #abc4d9, #9abed6, #87b8d3);

                }
                .card{
                    margin: auto;
                    box-shadow: 10px 10px 5px #636A74;
                }
                
                .card-img-top {
                    padding-top:20px;
                }
                
                .list-unstyled {
                    display:flex;
                    justify-content: space-around;
                }
                
                footer {
                     background-image: linear-gradient(to bottom, #87b8d3, #9abed6, #abc4d9, #bbcadb, #c9d1dc);
                    padding:20px 0;
                }
                
                
                .titre {
                    padding:60px;
                    text-align:center;
                    font-family:"Arvo", Arial;
                }
                
                .hero-text p {
                    font-size : 25px;
                }
                
                
                .parallelogramme{
	               width:450px;
                    height:100px;
                    /*background:#515A69;*/
                    background:#87b8d3;
                    -webkit-transform:skew(30deg);
                    -moz-transform:skew(30deg);
                    -o-transform:skew(30deg);
                    tranform:skew(30deg);
                    position:absolute;
                    top:30vh;
                    left:15vh;
    
}	
                
                a {
                    color:#796059;
                        
                }
                
                @keyframes black {
                    0%   {color:#796059;}
                    100% {color:black;}
                }
                
                a:hover {

                    animation: black 1s infinite;
                }



        </style>
        
        <div class="container-fluid">
            
            {% include 'menu.twig' %}

            
            <!-- block hero -->
             <div class="hero-image row">
                 <div class="parallelogramme"></div>
              <div class="hero-text">
                <h1 class="jumbowtron">Un Billet pour l'Alaska</h1>
                <p>Jean Forteroche</p>
                  
              </div>
            </div> 
            <!-- end block hero -->
            
            <!-- content pour postlists -->
            <div class="titre"> <h2 class="jumbowtron"> LES DERNIERS CHAPITRES</h2></div>
            <div class="derniers row">
            
                {% for item in liste %}
        
    
                <div class="card col-md-3" id={{item.id}}>
                    <img class="card-img-top" src="ciprian-morar-194665-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{item.author}}</h5>
                        <p class="card-text">{{item.post}}</p>
                        <a target="blank" href="http://localhost/tests/p4/index.php?cible=post&id={{item.id}}" class="btn btn-primary">Lire le chapitre</a>
                    </div>
                </div>

        
                {% else %}
                                 
                <p>Erreur</p>
                
                {% endfor %} 
                
            </div>
            <!-- fin block content postslists-->

            {% include "footer.twig" %}

        </div>


            

        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script> 
    </body>
</html>