{% extends 'layout.twig' %}


{% block content %}
<div id="sidebar">
    {{ render(controller(
        'Blog\Controller\Controller::recentArticles',
        { 'max': 3 }
    )) }}
</div>

{% endblock %}