<div class="comment"><h5> Ajouter un commentaire </h5>

<form method="post" action="http://localhost/tests/p4/index.php?cible=comment&id={{post.id}}&arborescence=1&comment_parent=1">
    <p><input type="text" name="author" placeholder="Pseudo"/>
    <input type="text" placeholder="Votre commentaire..." name="comment"/>
    <input type="submit" value="commenter"/></p>
</form>

<hr>
</div>