
<form method="post" action="?cible=comment&id={{post.id}}&arborescence=2&comment_parent={{comment.id}}">
    <p><input type="text" name="author" placeholder="Pseudo"/>
    <input type="text" name="comment" placeholder="Votre réponse..."/>
    <input type="submit" value="repondre"/>
    </p>
</form>