{% if post %}

<style>
    .masthead{

        background-image: url("public/img/mckayla-crump-650986-unsplash.jpg");
        }


</style> 

{% elseif liste %}

<style>
    .masthead {

        background-image: url("public/img/ciprian-morar-194665-unsplash.jpg");
        }

</style> 


{% else %}

<style>
    .masthead {

        background-image: url("public/img/om-malik-482054-unsplash.jpg");
    }

</style> 
   
{% endif %}





  <!-- Page Header -->
  <header class="masthead" style="background-image: url('public/img/ciprian-morar-194665-unsplash.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Un Billet pour l'Alaska</h1>
            <span class="subheading">par Jean Forteroche</span>
          </div>
        </div>
      </div>
    </div>
  </header>